.itemContainer{
    width: 250px;
    min-height: 200px;
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #242424;
    border-radius: 5px;
}

.fakeIcon{
    margin-bottom: 10px;
    height: 80%;
    width: 100%;
}