section{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    // width: 80%;
}

.loaderContainer{
    // width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

#loadingIcon{
    margin-top: 10px;
    text-align: center;
    font-size: 5em;
}
