header{
    position: sticky;
    top: 0px;
    background-color: white;
}

h2{
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: 2px;
}

.navBar{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 4px #817f7f;

    & a{
        text-decoration: none;
        color: #242424;
    }

    &__menu{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        
        & a{
            text-decoration: none;
            font-size: 1em;
            font-weight: 500;
            color: #242424;
        }
        // & ul li{
        //     display: flex;
        //     flex-direction: column;
        //     z-index: 1000;
        //     top: 100%;
        //     display: none;
        //     position: absolute;
        // }
    }
}
